.login_page_container {
	display: flex;
	overflow: hidden;

	&.authlayout {
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1.22fr;

		.login_container {
			padding: 2rem;
			display: flex;
			flex-direction: column;

			.login_form {
				width: 100%;
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				form {
					gap: 2rem;
					width: 70%
				}
			}
		}

		.img-wrapper {
			position: relative;

			img {
				position: absolute;
				height: 100%;
				width: 100%;
				inset: 0px;
				color: transparent;
				object-fit: cover;
			}
		}
	}


	.login_form {
		width: 30%;
		form {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			.field_wrapper_container {
				padding: 0;

				.input_wrapper {
					.error {
						position: relative;
						bottom: -0.1rem;
						left: $padding_inline;
						color: red;
						font-size: 0.85rem;
					}
				}
			}

			.form_button {
				.button_container {
					min-width: 100%;
				}
			}

			.forget {
				cursor: pointer;
				text-decoration: underline;
				color: rgba(0, 0, 0, 0.6);
				font-size: 0.9rem;
				text-align: end;
			}
		}
	}
}

@media (max-width: 1024px) {
	.login_page_container {
		&.authlayout {
			display: flex;
			
			.login_container {
				height: 100%;

				.login_form {
					width: 100%;

					.sign_text_container {
						width: 100%;
					}

					form {
						width: 100%;
					}
				}
			}
		}

		flex-direction: column;
		padding: 0;
		gap: 3rem;

		.sign_text_container {
			width: 100%;
		}
	}
}