//CSS Variables
$website-bg: #F6F4F5;
$black-color:#000;
$grey-color:#828282;
$sub-grey-color:#E0E0E0;
$white-color:#FFF;
$orange-color:#FF951D;
$sub-orange-color:#FFF5E9;
$red-color:#D20653;
$linear-background: linear-gradient(90deg, #D20653 0%, #FF951D 100%);
$main-radius:20px;
$padding-inline-desktop:5rem;
$padding-inline-mobile:1rem;
$sections-gap:1.5rem